[user]
	name = broedli
	email = timo@pultschlampe.de
[color]
        diff = auto
        status = auto
        branch = auto
[push]
	default = simple

[merge]
        tool = vimdiff
[credential]
	helper = cache --timeout=3600
